<div class="content-wrapper">
  <div class="page-header header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Provider</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Details </li>
        </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="col-md-8">
        <div class="card position-relative">
          <div class="card-body">
            <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-8 border-right">
                      <div class="table-responsive mb-3 mb-md-0 mt-3">
                        <table class="table table-borderless report-table">
                          <tbody><tr>
                            <td class="text-muted">FirstName: </td>
                            <td><h5 class="font-weight-bold mb-0">{{ provider.firstName }}</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">lastName: </td>
                            <td><h5 class="font-weight-bold mb-0">{{ provider.lastName }}</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">phoneNumber: </td>
                            <td><h5 class="font-weight-bold mb-0">{{ provider.phoneNumber }}</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Email: </td>
                            <td><h5 class="font-weight-bold mb-0">{{ provider.email }}</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Secteur: </td>
                            <td><h5 class="font-weight-bold mb-0">{{ provider.sector.name }}</h5></td>
                          </tr>
                          <tr>
                            <td class="text-muted">Biographie: </td>
                            <td><p class="font-weight-bold mb-0">La théorie du tout (Stephen Hawking) Le loup de Wall Street (Jordan Belfort) Ford contre Ferrari (Carroll Shelby et Ken Miles) La liste de Schindler (Oskar Schindler) Bohemian Rhapsody (groupe de rock Queen) Molly's Game (Molly Bloom)</p></td>
                          </tr>
                        </tbody></table>
                      </div>
                    </div>
                    <div class="col-md-4 mt-3 py-1" ><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                       <img style="margin-left: 50px;" src="../../../../../../../assets/images/faces/face1.jpg" alt="image">
                      <div id="south-america-legend"><div class="report-chart"><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #4B49AC"></div><p class="mb-0">Facebook</p></div></div><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #FFC100"></div><p class="mb-0">Instagram</p></div></div><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #248AFD"></div><p class="mb-0">Linkedin</p></div></div></div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-dark btn-rounded btn-fw mt-5" >Activate</button>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <img style="height: 140px; width: 320px;" src="../../../../../../../assets/images/carte1.jpg" alt="image">
              </div>
            </div>
          </div>

          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <img style="height: 140px; width: 320px;" src="../../../../../../../assets/images/carte2.jpg" alt="image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


