
<div class="col-md-6 col-md-5 col-lg-4 mx-auto grid-margin grid-margin-md-0 stretch-card mycard">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Verifier email</h4>
      <p class="card-description">Hello <code>{{ user.firstName }}</code> welcome to <code>&lt;subService&gt;</code></p>
      <br>
      check your mail <b style="color: #2A3B90;"> {{ user.email }} </b> to revrifier your email
      <br><br> doesn't received ?
      <a >
        <span class="pointer">
          <u >resent</u>
        </span>
      </a>
    </div>
  </div>
</div>
